# ------------------------------------------
# Export directives.  
# ------------------------------------------

export(estss)
export(fcmml)
export(gSAME)
export(mSAME)
export(sigSAME)


# ------------------------------------------
# S3method declarations.  
# ------------------------------------------

